<a href="https://www.kaggle.com/code/lhy021/sydney-suburbs-reviews-eda?scriptVersionId=172809942" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

## Import library

In [65]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear aaalgebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

pd.set_option('display.max_columns', 20)
# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/sydney-suburbs-reviews/Sydney Suburbs Reviews.csv

## Read in data

In [9]:
df = pd.read_csv(os.path.join(dirname, filename))

df.shape

(421, 30)

## Clean up columns

In [10]:
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace(r'[^\w\s]', '').str.strip().str.replace('(', '').str.replace(')', '')

## View data

In [13]:
df.select_dtypes(include='object').describe().T

,count,unique,top,freq
name,421,421,Hornsby,1
region,421,15,Western Suburbs,133
population_rounded*,421,110,"3,500",14
ethnic_breakdown_2016,421,421,"Chinese 17.1%, English 16.8%, Australian 14.0%...",1
median_house_price_2020,420,134,"$1,200,000.00",19
median_house_price_2021,409,100,"$2,000,000.00",16
%_change,421,196,25.00%,22
median_house_rent_per_week,402,129,$600.00,12
median_apartment_price_2020,299,127,"$650,000.00",9
median_apartment_rent_per_week,350,84,$510.00,15
public_housing_%,419,40,0%,126
time_to_cbd_public_transport_[town_hall_st],417,43,50 minutes,31
time_to_cbd_driving_[town_hall_st],419,29,45 minutes,42
nearest_train_station,347,174,Mount Druitt,15
highlights/attractions,114,113,Lane Cove National Park,2
ideal_for,116,56,"Families, professionals, retirees",8
review_link,114,114,https://sydneysuburbreviews.com/hornsby,1

In [14]:
df.select_dtypes(include='number').describe().T

,count,mean,std,min,25%,50%,75%,max
postcode,421.0,2232.973872,235.654897,2000.0,2076.000,2153.0,2225.000,2770.0
avg._years_held,370.0,12.915676,2.684144,1.7,11.425,13.0,14.475,22.7
traffic,419.0,1.105012,1.892683,0.0,0.000,0.0,2.500,7.0
public_transport,420.0,1.683333,2.817810,0.0,0.000,0.0,4.000,9.0
affordability_rental,420.0,1.400000,2.336184,0.0,0.000,0.0,3.250,7.0
affordability_buying,420.0,1.102381,1.965452,0.0,0.000,0.0,2.000,7.0
nature,420.0,1.876190,3.104221,0.0,0.000,0.0,5.000,10.0
noise,420.0,1.680952,2.849967,0.0,0.000,0.0,4.000,10.0
things_to_see/do,420.0,1.585714,2.765244,0.0,0.000,0.0,3.000,10.0
family-friendliness,420.0,2.071429,3.393050,0.0,0.000,0.0,5.000,10.0
pet_friendliness,420.0,2.057143,3.366488,0.0,0.000,0.0,5.250,9.0
safety,420.0,2.045238,3.376226,0.0,0.000,0.0,5.000,10.0
overall_rating,420.0,1.659810,2.675546,0.0,0.000,0.0,5.125,7.1

In [82]:
df_sub = df.select_dtypes('object').loc[df.ethnic_breakdown_2016.str.contains('Chinese') & (df.ethnic_breakdown_2016.str.extract('Chinese (\d+.\d+)', expand=False).astype(float) > 20)]

In [90]:
df_sub.replace({'\$': '', '\%': '', '\,': ''}, regex=True, inplace=True)

In [114]:
df_sub.region.value_counts().sort_index()

region
Eastern Suburbs       2
Inner East            1
Inner West            2
North Shore           6
Northern Suburbs      2
Southern Suburbs      7
Sydney City           3
Upper North Shore     1
Western Suburbs      10
Name: count, dtype: int64

In [110]:
df_sub['region1'] = np.nan

In [115]:
df_sub.loc[df_sub.region.str.contains('North'), 'region1']='North'

In [117]:
df_sub.region1.value_counts().sort_index()

AttributeError: 'float' object has no attribute 'value_counts'

In [97]:
df_sub[df_sub.region.str.contains('North')].unique()

array(['Northern Suburbs', 'North Shore', 'Upper North Shore'],
      dtype=object)

In [ ]:
df_sub = df.ethnic_breakdown_2016.str.split(',').explode().str.strip().str.split(' ')

In [ ]:
df_sub.shape

In [ ]:
df_sub_cn = df_sub.loc[df_sub.str[0]=='Chinese'].str[-1]

In [ ]:
df_sub_cn = df_sub_cn.str.rstrip('%').astype(float)

In [ ]:
cn_15_idx = df_sub_cn[df_sub_cn>=15].sort_values().index

In [ ]:
cols = ['region', 'median_house_price_2021', 'median_house_rent_per_week', 'median_apartment_price_2020','median_apartment_rent_per_week']

In [ ]:
df.loc[cn_15_idx, 'region'].value_counts()

In [ ]:
df.loc[cn_15_idx, cols].query('median_apartment_price_2020<=700000').sort_values(by=['region','median_apartment_price_2020']).head(30)