In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/sydney-suburbs-reviews/Sydney Suburbs Reviews.csv

In [2]:
df = pd.read_csv("/kaggle/input/sydney-suburbs-reviews/Sydney Suburbs Reviews.csv")

In [3]:
df.shape

(421, 30)

In [4]:
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace(r'[^\w\s]', '').str.strip().str.replace('(', '').str.replace(')', '')

In [11]:
df = df.set_index('name')

In [5]:
df.select_dtypes(include='object').describe().T

,count,unique,top,freq
name,421,421,Hornsby,1
region,421,15,Western Suburbs,133
population_rounded*,421,110,"3,500",14
ethnic_breakdown_2016,421,421,"Chinese 17.1%, English 16.8%, Australian 14.0%...",1
median_house_price_2020,420,134,"$1,200,000.00",19
median_house_price_2021,409,100,"$2,000,000.00",16
%_change,421,196,25.00%,22
median_house_rent_per_week,402,129,$600.00,12
median_apartment_price_2020,299,127,"$650,000.00",9
median_apartment_rent_per_week,350,84,$510.00,15
public_housing_%,419,40,0%,126
time_to_cbd_public_transport_[town_hall_st],417,43,50 minutes,31
time_to_cbd_driving_[town_hall_st],419,29,45 minutes,42
nearest_train_station,347,174,Mount Druitt,15
highlights/attractions,114,113,Lane Cove National Park,2
ideal_for,116,56,"Families, professionals, retirees",8
review_link,114,114,https://sydneysuburbreviews.com/hornsby,1

In [ ]:
df.select_dtypes(include='number').describe().T

In [6]:
df.median_apartment_price_2020 = df.median_apartment_price_2020.str.replace('$', '').str.replace(',', '').astype('float')

In [14]:
df.ethnic_breakdown_2016

name
Hornsby         Chinese 17.1%, English 16.8%, Australian 14.0%...
Oatley          English 23.0%, Australian 21.1%, Chinese 9.8%,...
Dulwich Hill    English 19.4%, Australian 16.4%, Irish 9.5%, S...
Jannali         English 28.2%, Australian 26.3%, Irish 9.8%, S...
Waverton        English 24.9%, Australian 15.5%, Irish 11.0%, ...
                                      ...
Kyeemagh        Greek 19.7%, Australian 14.0%, English 10.0%, ...
Northwood       English 26.4%, Australian 23.0%, Irish 12.3%, ...
Watsons Bay     English 26.0%, Australian 19.0%, Irish 11.2%, ...
Lavender Bay    English 25.8%, Australian 15.1%, Irish 13.7%, ...
Bexley North    Greek 17.5%, Chinese 13.3%, Australian 12.0%, ...
Name: ethnic_breakdown_2016, Length: 421, dtype: object

In [71]:
df_sub = df.ethnic_breakdown_2016.str.split(',').explode().str.strip().str.split(' ')

In [160]:
df_sub.shape

(2105,)

In [121]:
df_sub_cn = df_sub.loc[df_sub.str[0]=='Chinese'].str[-1]

In [128]:
df_sub_cn = df_sub_cn.str.rstrip('%').astype(float)

In [163]:
cn_15_idx = df_sub_cn[df_sub_cn>=15].sort_values().index

In [156]:
cols = ['region', 'median_house_price_2021', 'median_house_rent_per_week', 'median_apartment_price_2020','median_apartment_rent_per_week']

In [165]:
df.loc[cn_15_idx, 'region'].value_counts()

region
Western Suburbs      13
Southern Suburbs     11
North Shore          11
Inner West            8
Upper North Shore     4
Sydney City           4
Northern Suburbs      3
Lower North Shore     3
Inner South           2
Eastern Suburbs       2
Hills Shire           1
Inner East            1
Name: count, dtype: int64

In [174]:
df.loc[cn_15_idx, cols].query('median_apartment_price_2020<=700000').sort_values(by=['region','median_apartment_price_2020']).head(30)

,region,median_house_price_2021,median_house_rent_per_week,median_apartment_price_2020,median_apartment_rent_per_week
name,,,,,
Homebush,Inner West,"$2,000,000.00",$640.00,650000.0,$520.00
Wentworth Point,Inner West,-,$560.00,670000.0,$530.00
Ashfield,Inner West,"$1,750,000.00",$650.00,680000.0,$480.00
Strathfield,Inner West,"$2,800,000.00",$750.00,700000.0,$535.00
West Ryde,North Shore,"$1,750,000.00",$610.00,630000.0,$410.00
Dundas,North Shore,"$1,330,000.00",$575.00,660000.0,$470.00
Meadowbank,North Shore,"$1,650,000.00",NaN,660000.0,$480.00
Ryde,Northern Suburbs,"$1,750,000.00",$675.00,670000.0,$490.00
Narwee,Southern Suburbs,"$1,200,000.00",$570.00,570000.0,$410.00
Penshurst,Southern Suburbs,"$1,350,000.00",$610.00,590000.0,$420.00
Kingsgrove,Southern Suburbs,"$1,500,000.00",$610.00,620000.0,$470.00
Kogarah,Southern Suburbs,"$1,400,000.00",$600.00,620000.0,$470.00
Allawah,Southern Suburbs,"$1,350,000.00",$580.00,650000.0,$430.00
Carlton,Southern Suburbs,"$1,400,000.00",$590.00,655000.0,$465.00
Beverly Hills,Southern Suburbs,"$1,350,000.00",$600.00,660000.0,$460.00
Turrella,Southern Suburbs,"$1,450,000.00",$620.00,680000.0,$560.00
Hurstville,Southern Suburbs,"$1,600,000.00",$590.00,680000.0,$520.00
Ultimo,Sydney City,"$1,700,000.00",$750.00,665000.0,$605.00
Hornsby,Upper North Shore,"$1,400,000.00",$600.00,645000.0,$460.00
Waitara,Upper North Shore,"$1,800,000.00",$690.00,670000.0,$480.00
Canley Vale,Western Suburbs,"$950,000.00",$430.00,390000.0,$330.00
Cabramatta,Western Suburbs,"$1,000,000.00",$420.00,400000.0,$340.00
Regents Park,Western Suburbs,"$950,000.00",$465.00,430000.0,$390.00
Berala,Western Suburbs,"$1,050,000.00",$490.00,460000.0,$370.00
Telopea,Western Suburbs,"$1,420,000.00",$530.00,555000.0,$440.00
Campsie,Western Suburbs,"$1,400,000.00",$590.00,570000.0,$435.00
Auburn,Western Suburbs,"$950,000.00",$500.00,575000.0,$440.00
Riverwood,Western Suburbs,"$1,100,000.00",$530.00,580000.0,$470.00
Parramatta,Western Suburbs,"$1,300,000.00",$510.00,605000.0,$470.00
Lidcombe,Western Suburbs,"$1,250,000.00",$555.00,675000.0,$510.00